/*SVG*/
.svg {
	width: 100%;
	height: 610px;
	background: #F7F8EE;
}

.rect{
	fill: #C89870;
}

.rect:hover {
	fill: #a5d496;
}

.clicked{
	fill: green;
}

.passed{
	fill: #a5d496;
}

/*DIV*/
.divClass {
	width: 100%;
	height: 610px;
	background: #F7F8EE;
	position: relative;
}

.div{
	background: #C89870;
	width: 10px;
	height: attr(data-height);
}

.div:hover {
	background: #a5d496;
}

.clickedDiv{
	background: green;
}

.passedDiv{
	background: #a5d496;
}


/*CANVAS*/
.canvas {
	background: #e0cdc5;
}

