.svg
{
    width: 100%;
    height: 100%;
    background: #666666;
}

.rect
{
    fill: url(#gradiant);
    /* fill:rgb(255,0,0); */
    /* -webkit-transition: fill 1s ease ;
    -moz-transition: fill 1s ease ;
    -ms-transition: fill 1s ease ;
    -o-transition: fill 1s ease ; */

    /* -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -ms-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s; */

}

.clicked
{
    /* fill: #00b0f0; */
    fill: url(#gradiantClicked);
}

.passed, .passedBeforePlayed
{

    fill: url(#gradiantPassed);
    /* fill:rgb(255,0,255); */

    /* -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s; */

}

.rectNotRender
{
    fill-opacity: 0;
}

.rectSeparator
{
    fill: white;
}
