
/* importation de la font SVG pour les differents icones */
@font-face {
  font-family: 'fontPlayer';
  src: url('fonts/fontPlayer.eot?hihs2a');
  src: url('fonts/fontPlayer.eot?hihs2a#iefix') format('embedded-opentype'),
    url('fonts/fontPlayer.ttf?hihs2a') format('truetype'),
    url('fonts/fontPlayer.woff?hihs2a') format('woff'),
    url('fonts/fontPlayer.svg?hihs2a#fontPlayer') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* definition de la couleur et taille de font principale */
div {
  color: black;
  font-size: 14px;
}

/* ces lignes enlevent les contours lorsqu'un bouton est selectionné */
.audioplayer *:focus {outline: none;}
.audioplayer *::-moz-focus-inner {border:0;}

/* visuel du player */
.audioplayer {
  position: fixed;
  width: 100vw; /* 100% de la largeur de la fenetre */
  height: 100vh; /* 100% de la hauteur de la fenetre */
  margin: 0;
  top: 0px;
  left: 0px;
  z-index: 0; /* place l'element au dessus ou en dessous des autres */
}

/* visuel de la div pour la pochette */
.audioplayer .visuel {
  position: absolute;
  width: 100vh; /* la largeur de la pochette fait 100% de la hauteur de la fenetre afin qu'elle soit carre*/
  height: 100vh;
  z-index: 5;
  background-color: rgb(255, 255, 255);
}

/* visuel de la pochette */
.audioplayer .pochette {
  width: 95%;
  height: 95%;
  padding: 2.5%;
  z-index: 6;
}

/* visuel de la div infos contenant le nom de l'artiste et le titre de la musique */
.audioplayer .infos {
  position: absolute;
  width: calc(75vw - 100vh); /* 75% de la largeur de la fenetre moins la largeur de la pochette */
  height: 40px; /* la hauteur des barres superieur et inferieur a la waveform sont defini à 40px */
  top: 0px;
  left: 0px;
  padding-left: 100vh; /* padding egale a la largeur de la pochette */
  z-index: 2;
  background-color: rgb(255, 255, 255);
  display: flex; /* utilisation des flex-box afin de placer les elements textuels */
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  transition: width 500ms; /* ajoute un temps de transition pour les changement de largeur de cette div */
}

 /* visuel du nom de l'artiste */
.audioplayer .artiste {
  margin: 5px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
  overflow: hidden; /* maintien le texte dans son element */
  text-overflow: ellipsis; /* si le texte es trop long il est coupé et des points de suspencion sont ajouté */
  white-space: nowrap; /* empeche le texte de revenir a la ligne */
}

 /* visuel du titre dela musique */
.audioplayer .titre {
  margin: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* visuel de la waveform */
.audioplayer .waveform {
  position: absolute;
  width: calc(100vw - 100vh); /* egale a la largeur de la fenetre moins la largeur de la pochette */
  height: calc(100vh - 80px); /* egale a la hauteur de la fenetre moins la hauteur des barres superieurs (40px + 40px) */
  top: 40px; /* egale a la hauteur de la barre superieur */
  left: 0px;
  padding-left: 100vh; /* largeur de la pochette */
  z-index: 1;
  background-color: rgb(255, 255, 255);
}

/* visuel des controles du player */
.audioplayer .controls {
  position: absolute;
  width: 150px;
  height: 40px;
  bottom: 0px;
  left: 0px;
  margin-left: calc(((100vw - (100vh + 150px)) / 2) + 100vh); /* calcul qui centre les controles selon la largeur de la fenetre et la largeur de la pochette */
  z-index: 3;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  transition: width 500ms, margin-left 500ms;
}

/* definition du visuel et de la font SVG pour les boutons de controles */
.audioplayer .controls button, .audioplayer .playlist button{
  background-color: #ea6719;
  color: white;
  border: none;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0px;
  cursor: pointer;
  -webkit-transition-duration: 0.2s; /* ajout d'une transition pour le hover */
  transition-duration: 0.2s;
  font-family: 'fontPlayer' !important; /* import de la font SVG */
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* visuel des boutons lorsqu'on passe la souris par dessus */
.audioplayer .controls button:hover, .audioplayer .playlist button:hover {
  background-color: white;
  color: #ea6719;
}

/* definition des tailles et des marges des differents boutons de controle */
.audioplayer .prev {
  width: 25px;
  height: 25px;
  margin: 4px 2px;
}

.audioplayer .prev:before {
  position: relative;
  margin-left: -5px;
  display: inline-block;
  font-size: 16px;
  content: "\ea1f"; /* correspond a l'icone voulu */
}

.audioplayer .play-pause.play {
  width: 35px;
  height: 35px;
  margin: 4px 2px;
}

.audioplayer .play-pause.play:before {
  position: relative;
  margin-left: -1px;
  display: inline-block;
  font-size: 24px;
  content: "\e901";
}

.audioplayer .play-pause.pause {
  width: 35px;
  height: 35px;
  margin: 4px 2px;
}

.audioplayer .play-pause.pause:before {
  position: relative;
  margin-left: -1px;
  display: inline-block;
  font-size: 21px;
  content: "\ea1d";
}

.audioplayer .next {
  width: 25px;
  height: 25px;
  margin: 4px 2px;
}

.audioplayer .next:before {
  position: relative;
  margin-left: -2px;
  display: inline-block;
  font-size: 16px;
  content: "\ea20";
}

.audioplayer .volume {
  width: 25px;
  height: 25px;
  margin: 4px 2px 4px 6px;
}

.audioplayer .volume:before {
  position: relative;
  margin-left: -2px;
  display: inline-block;
  font-size: 13px;
}

/* affichage de differents icones de volume en fonction de la classe lié au niveau du volume */
.audioplayer .volume:before {
  content: "\ea26";
}

.audioplayer .volume.high:before {
  content: "\ea26";
}

.audioplayer .volume.medium:before {
  content: "\ea27";
}

.audioplayer .volume.low:before {
  content: "\ea28";
}

.audioplayer .volume.mute:before {
  content: "\ea2a";
}

/* placement de la barre de volume */
.audioplayer .vol-control {
  -webkit-appearance: none;
  position: absolute;
  width: 80px;
  height: 8px;
  left: 125px;
  padding: 5px 0px;
  z-index: 4;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px solid #d0d0d0;
  background: transparent;
  -webkit-transform-origin: 5px 5px; /* point de rotation */
  -webkit-transform:rotate(-90deg); /* rotation afin de mettre la barre de volume verticale */
}

/* visuel du bouton de la barre de volume pour mozilla */
.audioplayer .vol-control::-moz-range-thumb {
  width: 4px;
  height: 14px;
  border: 1px solid #000000;
  border-radius: 2px;
  background: white;
  cursor: pointer;
}

/* visuel de la barre de volume pour mozilla */
.audioplayer .vol-control::-moz-range-track {
  width: 70px;
  height: 1px;
  background: #ea6719;
  border-radius: 2px;
  border: 2px solid #ea6719;
  cursor: pointer;
}

/* visuel du bouton de la barre de volume pour chrome */
.audioplayer .vol-control::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 6px;
  height:16px;
  margin-top: -8px;
  border: 1px solid #000000;
  border-radius: 2px;
  background: #ffffff;
  cursor: pointer;
}

/* visuel de la barre de volume pour chrome */
.audioplayer .vol-control::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  width: 72px;
  height: 4px;
  background: #ea6719;
  border-radius: 2px;
  border: 2px solid #ea6719;
  cursor: pointer;
}
/*
.audioplayer .vol-control::-ms-thumb {
  width: 14px;
  height: 4px;
  border: 1px solid #000000;
  border-radius: 2px;
  background: #000000;
  cursor: pointer;
}

.audioplayer .vol-control::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;

  width: 1px;
  height: 72px;
  cursor: pointer;
  background: #ea6719;
  border-radius: 2px;
  border: 2px solid #ea6719;
}
*/

/* visuel de la div contenant le temps courant et le temps de la musique */
.audioplayer .temps {
  position: absolute;
  width: 250px;
  height: 40px;
  bottom: 0px;
  left: 0px;
  padding-left: 100vh;
  z-index: 2;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
}

/* visuel du temps courant */
.audioplayer .en-cours {
  margin: 5px;
  color: #ea6719;
}

/* ajout d'un slash */
.audioplayer .en-cours::after {
  color: black;
  font-weight: bold;
  content: " /";
}

/* visuel du temps de la musique */
.audioplayer .total {
  margin: 5px 0px;
  color: black;
}

/* visuel de la div des statistiques contenant le nombre de lectures et le nombre de commentaires */
.audioplayer .statistiques {
  position: absolute;
  width: 250px;
  height: 40px;
  bottom: 0px;
  right: 0px;
  z-index: 1; /* z-index inferieur a celui des controles afin qu'il soit placé en dessous */
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* visuel du nombre de lectures */
.audioplayer .nb-lectures {
  margin: 5px;
  color: rgba(0, 0, 0, 0.4);
}

/* ajout de l'icone devant le nombre de lectures */
.audioplayer .nb-lectures:before {
  position: relative;
  color: rgba(0, 0, 0, 0.4);
  font-family: 'fontPlayer' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  content: "\ea1c";
}

/* visuel du nombre de commentaires */
.audioplayer .nb-commentaires {
  margin: 5px;
  margin-right: 20px;
  color: rgba(0, 0, 0, 0.4);
}

/* ajout de l'icone devant le nombre de commentaires */
.audioplayer .nb-commentaires:before {
  position: relative;
  padding-right: 5px;
  color: rgba(0, 0, 0, 0.4);
  font-family: 'fontPlayer' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  content: "\e900";
}

/* visuel de la div social contenant les boutons like et share */
.audioplayer .social {
  position: absolute;
  width: 400px;
  height: 40px;
  top: 0px;
  right: 0px;
  z-index: 1; /* z-index inferieur a celui des infos afin qu'il soit placé en dessous */
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* visuel du bouton like lorsque la musique a été likée */
.audioplayer .like {
  height: 20px;
  margin: 4px 2px;
  background-color: #ea6719;
  color: rgb(255, 255, 255);
  border-color: #ea6719;
  border-width: thin;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.audioplayer .like:before {
  position: relative;
  padding-right: 5px;
  font-family: 'fontPlayer' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  content: "\e9da";
}

/* visuel du bouton like lorsque la musique n'a pas été likée */
.audioplayer .like.unlike {
  height: 20px;
  margin: 4px 2px;
  background-color: rgb(255, 255, 255);
  color: black;
  border-width: thin;
  border-color: rgba(0, 0, 0, 0.25);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.audioplayer .like.unlike:before {
  position: relative;
  padding-right: 5px;
  font-family: 'fontPlayer' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  content: "\e9da";
}

.audioplayer .like.unlike:hover {
  background-color: #ea6719;
  color: rgb(255, 255, 255);
  border-color: #ea6719;
}

/* visuel du bouton share */
.audioplayer .share {
  height: 20px;
  margin: 3px 4px 3px 2px;
  background-color: rgb(255, 255, 255);
  color: black;
  border-width: thin;
  border-color: rgba(0, 0, 0, 0.25);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.audioplayer .share:hover {
  background-color: #ea6719;
  color: rgb(255, 255, 255);
  border-color: #ea6719;
}

.audioplayer .share:before {
  position: relative;
  padding-right: 5px;
  font-family: 'fontPlayer' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  content: "\ea82";
}

/* affiche ou n'affiche pas la div share en fonction de sa classe qui sera modifiée en javascript */
.audioplayer .share-pannel.notHidden {
  visibility: visible;
}
.audioplayer .share-pannel.hidden {
  visibility: hidden;
}

/* placement de la div share en dessous du bouton share */
.audioplayer .share-pannel {
  position: absolute;
  width: 240px;
  height: 80px;
  right: 4px;
  top: 40px;
  z-index: 4;
  background-color: #f5f5f5;
  border-radius: 5px;
  border: 1px solid #808080;
}

/* visuel du texte du panneaux share */
.audioplayer .share-pannel .texte {
  position: absolute;
  top: 5px;
  left: 5px;
}

/* visuel du lien du panneaux share */
.audioplayer .share-pannel .lien {
  position: absolute;
  width: 75%;
  bottom: 5px;
  left: 5px;
  border-radius: 0px;
  border: 1px solid #a0a0a0;
}

/* visuel du bouton copier du panneaux share */
.audioplayer .share-pannel .copier {
  position: absolute;
  width: 15%;
  height: 20px;
  bottom: 5px;
  right: 5px;
  background-color: #ffffff;
  text-align: center;
  color: black;
  border-radius: 3px;
  border-width: thin;
  border-color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.audioplayer .share-pannel .copier:hover {
  color: #ea6719;
  border-color: white;
}

/* ajout de l'icone du bouton copier */
.audioplayer .share-pannel .copier::before {
  position: relative;
  font-family: 'fontPlayer' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  content: "\e922";
}

/* place la playlist en dessous du player */
.audioplayer .playlist{
  position: absolute;
  top: 400px;
  left: 400px;
  right: 0px;
  background-color: #ffffff;
}

/* visuel de la liste */
.audioplayer .liste{
  width: 100%;
  top: 0px;
  left: 0px;
  padding: 0;
}

/* visuel des elements de la liste */
.audioplayer .element{
  width: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none; /* enleve les puces de la liste*/
}

.audioplayer .selected{
  background-color: #e0e0e0; /* l'element choisi est gris*/
}

.audioplayer .not-selected{
  background-color: #ffffff; /* les elements non choisi sont blanc*/
}

/* changement de certaines caracteristiques des elements du player afin de definir un comportement en fonction de la taille de la fenetre */
@media screen and (max-width: 650px) and (min-height: 120px) and (max-height: 300px) {
  .audioplayer {
    width: 650px; /* largeur minimal du player */
    height: 100vh;
  }

  .audioplayer .visuel {
    width: 100vh;
    height: 100vh;
  }

  .audioplayer .infos {
    width: calc(((650px / 4) * 3) - 100vh); /* 3/4 de 650px moins la largeur de la pochette */
    padding-left: 100vh;
  }

  .audioplayer .waveform {
    width: calc(650px - 100vh);
    height: calc(100vh - 80px);
    padding-left: 100vh;
  }

  .audioplayer .controls {
    margin-left: calc(((650px - (100vh + 150px)) / 2) + 100vh); /* calcul qui centre les controles selon la largeur de la fenetre (650px) et la largeur de la pochette */
  }

  .audioplayer .temps {
    padding-left: 100vh;
  }
}

@media screen and (min-width: 650px) and (max-height: 120px) {
  .audioplayer {
    width: 100vw;
    height: 120px; /* hauteur minimal du player */
  }

  .audioplayer .visuel {
    width: 120px;
    height: 120px;
  }

  .audioplayer .infos {
    width: calc(75vw - 120px); /* 3/4 de la largeur de la fenetre moins la largeur de la pochette (120px) */
    padding-left: 120px;
  }

  .audioplayer .waveform {
    width: calc(100vw - 100vh);
    height: 40px;
    padding-left: 100vh;
  }

  .audioplayer .controls {
    margin-left: calc(((100vw - (120px + 150px)) / 2) + 120px); /* calcul qui centre les controles selon la largeur de la fenetre et la largeur de la pochette (120px) */
  }

  .audioplayer .temps {
    padding-left: 120px;
  }
}

@media screen and (max-width: 650px) and (max-height: 120px) {
  .audioplayer {
    width: 650px;
    height: 120px;
  }

  .audioplayer .visuel {
    width: 120px;
    height: 120px;
  }

  .audioplayer .infos {
    width: calc(((650px / 4) * 3) - 120px); /* 3/4 de 650px moins la largeur de la pochette (120px) */
    padding-left: 120px;
  }

  .audioplayer .waveform {
    width: calc(650px - 120px);
    height: 40px;
    padding-left: 120px;
  }

  .audioplayer .controls {
    margin-left: calc(((650px - (120px + 150px)) / 2) + 120px); /* calcul qui centre les controles selon la largeur de la fenetre (650px) et la largeur de la pochette (120px) */
  }

  .audioplayer .temps {
    padding-left: 120px;
  }
}

/*
 mise en place d'une transition qui cache les div social et statistiques afin de laisser plus de place au div controls et infos
 elle est mise en place si le player a une hauteur superieure à 300px et une largeur inferieure à 800px
*/
@media screen and (max-width: 650px) and (min-height: 300px) and (max-height: 400px) {
  .audioplayer {
    width: 650px;
  }

  .audioplayer .infos {
    width: calc(650px - 100vh); /* la div infos passe par dessus la div social */
    padding-left: 100vh;
  }

  .audioplayer .waveform {
    width: calc(650px - 100vh);
    padding-left: 100vh;
  }

  .audioplayer .controls {
    width: calc(650px - (100vh + (((650px - (100vh + 150px)) / 2) + 30px))); /* la div controls passe par dessus la div statistiques */
    margin-left: calc((((650px - (100vh + 150px)) / 2) + 30px) + 100vh); /* laisse plus de place a la div temps */
  }

  .audioplayer .temps {
    padding-left: 100vh;
  }
}

@media screen and (max-width: 650px) and (min-height: 400px) {
  .audioplayer {
    width: 650px;
    height: 400px; /* hauteur maximale du player */
  }

  .audioplayer .visuel {
    width: 400px;
    height: 400px;
  }

  .audioplayer .infos {
    width: calc(650px - 400px);
    padding-left: 400px;
  }

  .audioplayer .waveform {
    width: calc(650px - 400px);
    height: calc(400px - 80px);
    padding-left: 400px;
  }

  .audioplayer .controls {
    width: calc(650px - (400px + (((650px - (400px + 150px)) / 2) + 30px)) );
    margin-left: calc((((650px - (400px + 150px)) / 2) + 30px) + 400px);
  }

  .audioplayer .temps {
    padding-left: 400px;
  }
}

@media screen and (min-width: 650px) and (max-width: 800px) and (min-height: 400px) {
  .audioplayer {
    width: 100vw;
    height: 400px;
  }

  .audioplayer .visuel {
    width: 400px;
    height: 400px;
  }

  .audioplayer .infos {
    width: calc(100vw - 400px);
    padding-left: 400px;
  }

  .audioplayer .waveform {
    width: calc(100vw - 400px);
    height: calc(400px - 80px);
    padding-left: 400px;
  }

  .audioplayer .controls {
    width: calc(100vw - (400px + (((100vw - (400px + 150px)) / 2) + 30px)) );
    margin-left: calc((((100vw - (400px + 150px)) / 2) + 30px) + 400px);
  }

  .audioplayer .temps {
    padding-left: 400px;
  }
}

@media screen and (min-width: 650px) and (max-width: 800px) and (min-height: 300px) and (max-height: 400px) {
  .audioplayer {
    width: 100vw;
    height: 100vh;
  }

  .audioplayer .visuel {
    width: 100vh;
    height: 100vh;
  }

  .audioplayer .infos {
    width: calc(100vw - 100vh);
    padding-left: 100vh;
  }

  .audioplayer .waveform {
    width: calc(100vw - 100vh);
    height: calc(100vh - 80px);
    padding-left: 100vh;
  }

  .audioplayer .controls {
    width: calc(100vw - (100vh + (((100vw - (100vh + 150px)) / 2) + 30px)) );
    margin-left: calc((((100vw - (100vh + 150px)) / 2) + 30px) + 100vh);
  }

  .audioplayer .temps {
    padding-left: 100vh;
  }
}

/* il n'y apas de largeur maximale definit pour le player */
@media screen and (min-width: 800px) and (min-height: 400px) {
  .audioplayer {
    width: 100vw;
    height: 400px;
  }

  .audioplayer .visuel {
    width: 400px;
    height: 400px;
  }

  .audioplayer .infos {
    width: calc(75vw - 400px);
    padding-left: 400px;
  }

  .audioplayer .waveform {
    width: calc(100vw - 400px);
    height: calc(400px - 80px);
    padding-left: 400px;
  }

  .audioplayer .controls {
    width: 150px;
    margin-left: calc(((100vw - (400px + 150px)) / 2) + 400px);
  }

  .audioplayer .temps {
    padding-left: 400px;
  }
}
